body {
    margin: 0;
    background: #fff;
}

.container {
    overflow: hidden;
}

.title-box {
    position: relative;
    margin-bottom: 2rem;
}
.title-box img {
    text-align: center;
    width: 100%;
}
.title-box h1 {
    color: #fff;
    position: absolute;
    font-style: italic;
    font-size: 1.875rem;
    line-height: 1em;
    width: 9rem;
    height: 1.875rem;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    letter-spacing: 0.3125rem;
}

.sub-title {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-title .liandaoyun {
    font-size: 1.5rem;
    line-height: 1em;
    letter-spacing: 0.5rem;
    margin-bottom: 0.25em;
    color: #c00;
}
.sub-title .oa {
    font-size: 0.625rem;
    line-height: 1em;
    color: #999;
}

.pro-list {
    padding: 0 0.5rem;
}
.pro-item img {
    width: 100%;
    display: block;
}
.pro-item {
    margin-bottom: 1rem;
}
.pro-title {
    font-size: 1rem;
    color: #333;
    text-align: left;
    line-height: 1em;
    padding-bottom: 0.3rem;
}
.pro-content {
    padding: 0.5rem 0;
}
.icon {
    font-size: 0.5rem;
}
.pro-comments {
    list-style: none;
    font-size: 0.8rem;
    margin: 0;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}